article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
} 

.wrapper {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

h2 {
    text-transform: uppercase;
    font-family: Italiana;
    font-size: 2.1875rem;
    color: #ffffff;
    padding-bottom: 10px;
}

h3 {
    font-family: Italiana;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

h4 {
    font-family: Italiana;
    font-size: 25px;
}

li {
    list-style: none;
    font-family: Lato;
    font-size: 1.5rem;
    color: #faba63;
}

.readMore {
    border: 1px solid #faba63;
    background-color: transparent;
    font-family: Italiana;
    font-size: 25px;
    line-height: 1.5625rem;
    text-align: center;
    color: #ffffff;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: #faba63;
}

/* Header Styles */
header {
    background-image: url("../desktopAssets/group-4.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative; /* position referencing for icons */
}

header li {
    margin: 15px 40px 0 0;
    float: left;
}

header .menuBar {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    color: white;
    visibility: hidden;
}

.logo {
    /* display: inline; */
    text-align: right;
    white-space: nowrap;
    position: relative;
    top: 140px;
    left: -550px;
}

h1 {
    text-transform: uppercase;
    font-family: Italiana;
    font-size: 8.125rem;
    line-height: 0.87;
    letter-spacing: normal;
    color: #ffffff;
    font-stretch: normal;
}

h1 span {
    display: block;
}

.jewlers {
    font-family: Lato;
    font-size: 2.1875rem;
    font-weight: 300;
    line-height: 1.02;
    color: #faba63;
}

.icons {
    text-align: center;
    /* border: 1px solid white; */
    width: 5%;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.icons i {
    color: white;
    font-size: 1.25rem;
    display: block;
    margin: 10px;
}

/* About Styles */
.about {
    background-image: url("../desktopAssets/image-5.png");
    background-size: cover;
    padding: 5% 0;
}

.left {
    width: calc(100% - 70%);
    float: left;
    margin-right: 3%;
    
}

.right {
    width: calc(100% - 30% - 3%);
    float: left;
    color: white;
    /* border: 1px solid red; */
}

.right p {
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.45;
    margin-bottom: 28px;
}

/* Gallery Styles */
.gallery {
    background-color: #201e1f;
    padding-bottom: 10%;
}

.gallery h2 {
    text-align: center;
    padding: 5% 0;
}

.galleryContainer {
    width: 100%;
    /* border: 1px solid red; */
}
.galleryContainer img {
    max-width: calc(100%/3 - 2%);
    min-width: calc(100%/3 - 2%);
    float: left;
}

.galleryContainer img:nth-of-type(2) {
    margin: 0 3%;
}

/* Options Styles */
.options {
    background-image: url("../desktopAssets/image-5.png");
    background-size: cover;
    text-align: center;
}

.catologue,
.events,
.collaborations {
    width: calc(100%/3);
    float: left;
    padding: 5% 0 7%;
}

.options i {
    color: #faba63;
    font-size: 3.125rem;
    padding-bottom: 20px;
}

/* Products Styles */
.products {
    background-color: #201e1f;
    color: white;
}

.description1Container {
    /* border: 1px solid red; */
    width: calc(50%);
    float: left;
    padding: 5% 0 3%;
}

.textContainer1 {
    /* width: 65%; */
    padding: 0 10% 0 20%;
    margin: 0 auto;
}

.textContainer2 {
    /* width: 65%; */
    padding: 0 20% 0 10%;
    margin: 0 auto;
}

.textContainer1 p,
.textContainer2 p {
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.45;
    margin-bottom: 28px;
}

.product1 img,
.product2 img {
    max-width: 100%;
    min-width: 100%;
}

.product1Pic, .product2Pic {
    width: 50%;
    float: right;
}

.product2Pic {
    width: 50%;
    float: left;
}

.mobilePic {
    max-width: 100%;
    min-width: 100%;
    display: none;
}

.description2Container {
    /* border: 1px solid red; */
    width: calc(50%);
    float: left;
    padding: 5% 0 5%;
}

/* Stay Updated Styles */
.stayUpdated {
    background-image: url("../desktopAssets/image-5.png");
    background-size: cover;
    color: white;
}

.stayUpdated .wrapper {
    padding: 10% 0;
}

.menu {
    /* border: 1px solid red; */
    width: 24%;
    float: left;
    text-transform: uppercase;
}

.menu li {
    color: white;
    display: block;
    font-size: 1.0625rem;
    padding-bottom: 10px;
}

.menu li:last-child {
    padding-bottom: 0;
}

.subscribe {
    /* border: 1px solid blue; */
    width: 49%;
    float: left;
    text-align: center;
}

.subscribe h4 {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.subscribe p {
    padding-bottom: 15px;
    font-size: 1.0625rem;
}

.subscribe input {
    height: 40px;
    width: 75%;
    float: left;
}

.subscribe button {
    width: 25%;
    height: 40px;
    background-color: #000000;
    border: 1px solid #000000;
    color: white;
    text-transform: uppercase;
}

.contact {
    width: 27%;
    float: left;
}

.contact h4 {
    text-align: right;
    padding-bottom: 10px;
}

.contact p {
    font-family: Lato;
    font-size: 1.0625rem;
    line-height: 1.45;
    text-align: right;
}

/* Footer Styles */

footer {
    background-color: #201e1f;
    padding: 10px 0;
}

footer p {
    font-family: Lato;
    font-size: 1.125rem;
    line-height: 1.61;
    text-align: center;
    color: #ffffff;
}

/* Responsiveness */
@media(max-width: 1190px) {
    .phoneNumber {
        display: block;
    }
}

@media(max-width: 1096px) {
    h2 {
        font-size: 1.875rem;
    }

    .textContainer1 p,
    .textContainer2 p {
        font-size: 1.125rem;
    }

    .right p {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.45;
}
    .readMore {
        border: 1px solid #faba63;
        background-color: transparent;
        font-family: Italiana;
        font-size: 1.5625rem;
        line-height: 1.16;
        text-align: center;
        color: #ffffff;
        padding: 10px 10px;
    }
    
}

@media(max-width: 1024px) {
    header h1 {
        font-size: 6.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }



    /* .textContainer1 p,
    .textContainer2 p {
        font-size: 1.125rem;
    }

    .right p {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.45;
}
    .readMore {
        border: 1px solid #faba63;
        background-color: transparent;
        font-family: Italiana;
        font-size: 1.5625rem;
        line-height: 1.16;
        text-align: center;
        color: #ffffff;
        padding: 10px 10px;
    } */

}

@media(max-width:970px) {

    header h1 {
        font-size: 5.25rem;
    }

    .description1Container,
    .description2Container {
        display: block;
        width: 100%;
    }

    .product1Pic {
        float: right;
    }

    .description1Container {
        float: left;
    }

    .description2Container {
        /* float: left; */
    }

    .product1Pic,
    .product2Pic {
        width: 100%;
    }

    .product2Pic {
        /* float: right; */
    }

    h2 {
    font-size: 2.5rem;
    }

    .textContainer1 p,
    .textContainer2 p {
        font-size: 1.5rem;
    }
}

@media(max-width: 768px) {
    header .menuBar {
        visibility: visible;
    }

    nav {
        display: none;
    }
}

@media(max-width: 426px) {
    header {
        background-image: url("../mobileAssets/image-1-mobile.png");
        background-size: cover;
        background-position: right 0%;
    }

    .wrapper {
        width: 90%;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 1.875rem;
    }

    .galleryContainer img {
        max-width: calc(50% - 3%);
        min-width: calc(50% - 3%);
        float: left;
    }

    .galleryPic3 {
        display: none;
    }

    .catologue,
    .events,
    .collaborations {
        width: 100%;
    }

    .desktopPic {
        display: none;
    }

    .mobilePic {
        max-width: 100%;
        min-width: 100%;
        display: block;
    }

    .menu {
        width: 100%;
        float: none;
    }

    .menu li {
        display: inline;
        font-size: 1rem;
        margin-right: 5%;
    }

    .subscribe,
    .subscribe input,
    .subscribe button {
        width: 100%;
    }


}
